/// <reference path="editor.scss" />

/*
+-- .cke_panel_block.cke_colorblock --+
| +-- a.cke_colorauto --------------+ |
| | +-- table --------------------+ | |
| | |       AUTOMATIC COLOR       | | |
| | +-----------------------------+ | |
| +---------------------------------+ |
| +-- table ------------------------+ |
| |          COLOR PALETTE          | |
| |---------------------------------| |
| |          "More Colors"          | |
| +---------------------------------+ |
+-------------------------------------+
*/

.cke_colorblock {
	padding: 5px;
	font-size: $base-font-size * 0.8px;
	font-family: $primary-font;

	a {
		text-decoration: none;
		color: $input-color;
	}

	td {
		text-align: center;
	}
}

.cke_colorbox {
	width: 20px;
	height: 20px;
	float: left;
}

a.cke_colorbox {
	padding: 2px;

	&:hover,
	&:focus,
	&:active {
		outline: none;
		padding: 0;
		border: 2px solid $gray-50;
	}

	&:hover {
		border-color: $gray-60;
	}
}

a.cke_colorauto,
a.cke_colormore {
	display: block;
	cursor: pointer;
	color: $dialog-link-color;
	height: $base-line-height-px;
	line-height: $base-line-height-px;
	border: 1px solid transparent;

	&:hover,
	&:focus,
	&:active {
		outline: none;
		border-color: $gray-50;
		background-color: $toolbar-hover-bg;
		color: $orange;
	}

	&:hover {
		border-color: $gray-60;
	}
}

a.cke_colorauto {
	margin-bottom: 6px;

	span.cke_colorbox {
		width: 18px;
		height: 18px;
		border: 1px solid $gray-50;
		margin-left: 2px;
		margin-top: 2px;
	}
}

a.cke_colormore {
	margin-top: 10px;
}

span.cke_colorbox[style*="#ffffff"],
span.cke_colorbox[style*="#FFFFFF"],
span.cke_colorbox[style="background-color:#fff"],
span.cke_colorbox[style="background-color:#FFF"],
span.cke_colorbox[style*="rgb(255,255,255)"],
span.cke_colorbox[style*="rgb(255, 255, 255)"] {
	border: 1px solid $input-bordercolor;
	width: 18px;
	height: 18px;
}
